@import "tailwindcss";

@font-face {
  font-family: yekan;
  font-display: swap;
  src: url("/fonts/IRANYekanXVF.woff") format("woff");
}

@theme {
  --font-sans:
    "yekan", "sans-serif", "ui-sans-serif", "system-ui", "sans-serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --breakpoint-2xl: 90rem;
  --color-primary: #a72f3b;
  --color-primary-tint-1: #ffffff;
  --color-primary-tint-2: #f6eaeb;
  --color-primary-tint-3: #edd5d8;
  --color-primary-tint-4: #e5c1c4;
  --color-primary-tint-5: #dcacb1;
  --color-primary-tint-6: #ca8289;
  --color-primary-tint-7: #b95962;
  --color-primary-shade-1: #000000;
  --color-primary-shade-2: #110506;
  --color-primary-shade-3: #21090c;
  --color-primary-shade-4: #320e12;
  --color-primary-shade-5: #431318;
  --color-primary-shade-6: #641c23;
  --color-primary-shade-7: #86262f;

  --color-error: #c30000;
  --color-error-light: #ed2e2e;
  --color-error-warning: #a9791c;
  --color-error-warning-light: #f4b740;
  --color-error-success: #00966d;
  --color-error-success-light: #00ba88;
  --color-error-error-bg: #fff2f2;
  --color-error-warning-bg: #fff8e1;
  --color-error-success-bg: #f3fdfa;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
}
